/* ========================mobile divise 425px==================================== */
@media screen and (max-width:425px) {
    nav{
        flex-direction: column;
    }
    nav .manu ul{
        flex-direction: column;
    }
    nav .manu ul li{
        margin-top: 25px;
    }
    /* ================ banar pat====================== */
    .banar{
        flex-direction: column-reverse;
    }
    .banar-text{
        width: 100%;
    }
    .banar-img{
        width: 100%;
    }
    /* ======================= we are pat======================= */
    #we-are{
        flex-direction: column;
    }
    #we-are .we-img{
        width: 100%;
    }
    #we-are .we-text{
        width: 100%;
}
   /* =======================online-games======================= */
 .online-games-card{
    flex-direction: column;
}
   /* ============================================== */
   .playimain{
    flex-direction: column;
   }
   .imgn{
    width: 50%;
   }
   .img1{
width: 90%;
   }
   .img2{
width: 50%;
   }
    /* ===================================== */
  
/* ================== careers pat=================== */
   
.careers-main{
    flex-direction: column;
}
.careers-img{
    width: 100%;
}
.careers-text{
    width: 100%;
}
#careers{
    margin-top: 100px;
}
/* ============================================== */
/* ====================new part ========================== */
.game-ar-talika{
    grid-template-columns: 1fr 1fr 1fr;
}
/* ==================new part=================== */
/* ==================footer pat=================== */
footer{
    padding: 0px 0px  ;
}
.my-link{
    flex-wrap: wrap;
    row-gap: 25px;
}
.logo-socal-midea{
    flex-wrap: wrap;
    column-gap: 90px;
    row-gap: 30px;
}
.sceting{
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
}
}
/* ====================================@media midem dibise tab================================== */
@media screen and (min-width:426px) and (max-width:768px){
    .online-games-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .game-ar-talika{
        grid-template-columns: 1fr 1fr 1fr 1fr;
}

}
/* =================ami bonas paur jonon ata korci jodi kono disin dauo takto ta hola sob ta kortam ... akon ai tuko korlam .......  */